<div id="main-wrapper" class="main-wrapper">
  <div id="login-wrapper" class="login-wrapper">
    <div id="login-container" class="login-container">

      <div id="top_part" class="top_part">
        <h1 id="the_logo" class="the_logo">
          <a href="{{ url('<front>') }}">
            <img src="{{ global_variables.logo }}" alt="{{ global_variables.site_name }}" />
          </a>
        </h1>
      </div>
  
      <div id="login_main_part" class="login_main_part">
        <span class="back_link">
          <a href="{{ url('<front>') }}">&larr; {{ 'Back'|t }} to Homepage</a>
        </span>
        <h2 class="title">{{ title }}</h2>
        {{ page.highlighted }}
        {{ messages }}
        {{ page.content }}
      </div>

      <div id="login_bottom_part" class="login_bottom_part">
        <span class="login_link">
          <a href="{{ path('user.login') }}">{{ 'Return to Login'|t }}</a>
        </span>
      </div>
      
    </div>
  </div>
</div>